<%- include ('vistas') %>
<body>    
    <h3>Posee Solicitud de Turno</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Franja Horaria</th>
                <th>Servicio</th>   
                
            </tr>
        </thead>
        <tbody>
            <%if (data){%>
                    <% for (i=0;i<data.length;i++){%>
                  <tr>
                    <td><%=data[i].usuario%></td> 
                    <td><%=data[i].tipoTurno%></td>      
                    <td><%=data[i].tipoServicio%></td> 
                    
                    <form action="/eliminarSolicitudTurno" method="POST"> 
                        <input type="hidden" name="usuario" value="<%= data[i].usuario%>"> 
                        <td><button type="submit">eliminar Solicitud</button></td>
                    </form>
                  </tr>  
                <%}%> 
            <%}%>    
        </tbody>
    </table>
</body>  
  <%- include ('partials/_footer') %>